root = true

[*.java]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
ij_continuation_indent_size = 4

# Максимальная длина строки (обязательно для chop_down_if_long)
max_line_length = 100

# Настройки форматирования методов
ij_java_method_parameters_wrap = on_every_item
ij_java_method_call_chain_wrap = on_every_item
ij_java_wrap_first_method_in_call_chain = true
ij_java_record_components_wrap = on_every_item
ij_java_new_line_after_lparen_in_record_header = true
ij_java_rparen_on_new_line_in_record_header = true
# record
# ij_java_method_parameters_wrap = chop_down_if_long
# ij_java_method_call_chain_wrap = chop_down_if_long
# ij_java_method_parameters_lparen_on_next_line = false
# ij_java_method_parameters_rparen_on_next_line = false
ij_java_call_parameters_wrap = on_every_item
# ij_java_call_parameters_lparen_on_next_line = false
# ij_java_call_parameters_rparen_on_next_line = false
ij_java_call_parameters_new_line_after_left_paren = true
ij_java_call_parameters_right_paren_on_new_line = true
ij_java_method_parameters_new_line_after_left_paren = true
ij_java_method_parameters_right_paren_on_new_line = true
# Дополнительные настройки для лучшего форматирования
ij_java_align_multiline_parameters = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_space_after_comma = true
ij_java_space_before_comma = false
ij_java_keep_simple_methods_in_one_line = true